<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="só no zap...">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<div class="articles">
    {{range .payload}}
    <!--Create the link for the article based on its ID-->
    <div class="article-box">
        <div class="article-pic">
            <img src="{{.Picture}}">
        </div>
        <a href="/article/view/{{.ID}}">
            <!--Display the title of the article -->
            <div class="chat-name">
                # {{.Title}}
            </div>
        </a>
        <hr class="separador">
    </div>
    {{end}}
</div>