<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/pag2.css">
    <title>Document</title>
</head>

<body class="main">
    <h1>
        Sera que vai renderizar agora essa poha?????????????
        <strong>
            ESPERO QUE SIM
    </h1>
    <p>
        <strong>
            {{.Nome}} vc está lindo hoje rsrs
        </strong>
    </p>
    <a href="/nova">
        testando só mais um path
    </a>
    </strong>
</body>

</html>