* {
    font-family: Helvetica, Arial, sans-serif;
    /* background: chocolate; */
}


h1 {
    color: SeaGreen;
}


p,
li {
    font-size: 18px;
}


a {
    text-decoration: none;
}

.prof-pic {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    top: 15px;
    left: 15px;
    z-index: 1;
    position: absolute;
}

.prof-pic img {
    width: auto;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}