.sidebar {
    background: whitesmoke;
    left: 0;
    top: 0;
    position: absolute;
    width: 370px;
    height: 100%;
    z-index: 0;
}

.prof-pic {
    display: inline-block;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 13px;
    margin-top: 8px;
    z-index: 1;
    background-color: transparent;
}

.prof-pic img {
    width: auto;
    height: 100%;
}