<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/pag2.css">
    <title>Document</title>
</head>

<body class="main">
    <h1>
        Sera que vai renderizar agora essa poha?????????????
        <strong>
            ESPERO QUE SIM
    </h1>
    <p>
        Bem vindo {{.Nome}} quantos anos vc tem? {{.Idade}}, mas
        está solteiro? {{.Solteiro}}
    </p>
    </strong>
</body>

</html>